html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* optional */
  background-image: url('/src/assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
